

<!DOCTYPE html>
<html>
<head><title>Block domain List</title>
	
  <style>
    table , td, tr, th{
          border : 1px black solid;
          border-collapse :collapse;
          text-align: center;
          width: 800px;
          padding : 5px
    }
    a {
      text-decoration: none;
      color: black;
    }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      color: #fff; /* 흰색 텍스트 */
    }

    header {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 1rem 0;
    }

    .container {
      max-width: 800px;
      margin: 2rem auto;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.9); /* 약간 투명한 흰색 배경 */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    h1 {
      color: #fff;
    }

    p {
      line-height: 1.6;
    }

    .btn {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
    }

    .btn:hover {
      background-color: #555;
    }

    .dev{
      width: 100vw;
      min-height: 100vh;
      background-color: #7335b7;
      border-radius: 0 0 350px 0;
    }
  </style>
</head>
<body>
	<div class="dev">
    <header>
      <h1>차단 도메인 리스트</h1>
    </header>
    <div class="container">
      <table>
      <colgroup>
        <col width='70%' />
        <col width='*%' />
      </colgroup>
      <thead>
        <tr>
          <th><a>도메인</a></th>
          <th><a>등록일</a></th>
        </tr>
      </thead>
      <tbody>
      <%
        for(var i=0; i<rows.length; i++) {
      %>
        <tr>
          <td><a href='/block/read?brdno=<%=rows[i].domain%>'><%=rows[i].domain%></a></td>
          <td><a><%=rows[i].created_at%></a></td>
        </tr>
      <%
        }
      %>
      </tbody>
      </table>
      <div style="text-align: right;">
        <button><a href="#" onclick="history.back(-1)" style="font-size: 2ch">돌아가기</a></button>
        <button><a href="/block/form" style="font-size: 2ch">도메인 추가</a></button>
      </div>
    </div>
  </div>
</body>
</html>